<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.mindware.mappers.ContactoMapper">

    <resultMap type="contacto" id="ContactoResult">
        <id 	property="contactoId" column="contacto_id"/>
        <result property="nombreContacto" column="nombre_contacto"/>
        <result property="celular" column="celular"/>
        <result property="estado" column="estado"/>
        <result property="fechaImportacion" column="fecha_importacion"/>
        <result property="estado" column="estado"/>
        <result property="campo1" column="campo1"/>
        <result property="campo2" column="campo2"/>
        <result property="campo3" column="campo3"/>

    </resultMap>

    <insert id="insertContacto"  parameterType="contacto" keyProperty="contactoId" >
        <selectKey keyProperty="contactoId" resultType="int" order="BEFORE">
            select nextval('contacto_id_seq')
        </selectKey>
        insert into contacto (
        contacto_id,
        nombre_contacto,
        fecha_importacion,
        celular,
        campo1,
        campo2,
        campo3,
        estado,
        usuario)
        values (
        #{contactoId},
        #{nombreContacto},
        #{fechaImportacion},
        #{celular},
        #{campo1},
        #{campo2},
        #{campo3},
        #{estado},
        #{usuario})
    </insert>

    <select id="findAllContactos" resultMap="ContactoResult">
        select * from contacto
    </select>

    <select id="findContactoByID" resultMap="ContactoResult" parameterType="int">
        select * from contacto
        where contacto_id = #{contactoId}

    </select>

    <select id="findContactoByUser" resultMap="ContactoResult" parameterType="String">
        select celular, nombre_contacto, campo1, campo2, campo3 from contacto
        where usuario = #{usuario}
        order by nombre_contacto
    </select>

    <select id="contactSelected" resultMap="ContactoResult"  parameterType="map">
        select contacto_id, celular, nombre_contacto, campo1, campo2, campo3 from contacto
        where usuario = #{usuario}
        and celular in  <!--('60700381','8902343')-->
        <foreach item="item"  index="index" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>

    </select>

    <delete id="deleteContacto" >
        delete from contacto
    </delete>



</mapper>