<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.mindware.mappers.MensajeMapper">

    <resultMap type="mensaje" id="MensajeResult">
        <id 	property="mensajeId" column="mensaje_id"/>
        <result property="fechaEnvio" column="fecha_envio"/>
        <result property="horaEnvio" column="hora_envio"/>
        <result property="enviado" column="enviado"/>
        <result property="celular" column="celular"/>
        <result property="nombre" column="nombre"/>
        <result property="grupo" column="grupo"/>
        <result property="contactoId" column="contacto_id"/>
        <result property="longitudSms" column="longitud_sms"/>
        <result property="grupoId" column="grupo_id" />
        <result property="mensaje" column="mensaje" />
        <result property="numeroIntento" column="numero_intentos" />
    </resultMap>

    <select id="findMensajesUsuario" resultMap="MensajeResult" parameterType="map">
        SELECT m.mensaje_id, m.fecha_envio, m.hora_envio, m.enviado, m.celular, m.nombre
         , m.grupo, m.contacto_id, m.longitud_sms, m.grupo_id, m.mensaje, m.numero_intentos
        from mensaje m
        where m.usuario_id= #{usuarioId}
         and m.enviado = #{estado}
    </select>



    <insert id="insertarMensaje" parameterType="mensaje" keyProperty="mensajeId" >
        <selectKey keyProperty="mensajeId" resultType="int" order="BEFORE">
            select nextval('mensaje_id_seq')
        </selectKey>

        insert into mensaje (mensaje_id, usuario_id, contacto_id,grupo_id,mensaje, fecha_envio,
        hora_envio, enviado, celular, nombre, grupo, longitud_sms, numero_intentos) VALUES
        (#{mensajeId}, #{usuarioId}, #{contactoId}, #{grupoId}, #{mensaje}, #{fecha_envio},
        #{hora_envio},#{enviado},#{celular}, #{nombre}, #{grupo}, #{longitudSms}, #{numeroIntentos})
    </insert>

    <update id="updateEstadoMensaje" parameterType="mensaje" >
        update mensaje
        set
          enviado = #{enviado}
          fecha_envio = #{fechaEnvio}
          hora_envio = #{horaEnvio}
          numero_intentos = #{numeroIntentos}
        WHERE
          mensaje_id = #{mensajeId}
    </update>


</mapper>