<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "Contacto">
  	
  	<resultMap type="Contacto" id="ContactoResult">
		<id 	property="contactoId" column="contacto_id"/>
		<result property="nombreContacto" column="nombre_contacto"/>
		<result property="celular" column="celular"/>
		<result property="estado" column="estado"/>
		<result property="fechaImportacion" column="fecha_importacion"/>
		<result property="estado" column="estado"/>
		<result property="campo1" column="campo1"/>
		<result property="campo2" column="campo2"/>
		<result property="campo3" column="campo3"/>
		
	</resultMap>
	
  	<insert id="insertarContacto" useGeneratedKeys="true" keyProperty="contacto_id" parameterType="com.mindware.modelo.Contacto">
  		insert into (nombre, fechaImportacion, celular, campo1, campo2, campo3, campo4, campo5, campo6, estado, usuario) 
  		values ( #{nombre}, #{fechaImportacion}, #{celular}, #{campo1}, #{campo2}, #{campo3},#{campo4}, #{campo5}, #{campo6}, #{estado}, #{usuario})
  	</insert>
  	<select id="getContactos" resultType="com.mindware.modelo.Contacto">
  		select * from contacto
  	</select>
  </mapper>